
body {
  width: 600px;
  margin: 10px auto;
}
.capitol {
  width: 620px;
  height: 100%;
}
h2 {
  text-align: center;
}
#background {
  border: 1px solid #000;
  padding: 10px 30px;
}
.text-controls {
  float: left;
  width: 50%;
}
.bg-controls {
  float: left;
  width: 50%;
}
.btn {
    padding: 5px 20px;
    border: 0 none;
    font-size: 14px;
    font-weight: normal;
}
#fname {
  width: 200px;
  padding: 5px;
}
